* {
  font-family: "Inter", sans-serif;
}

/* banner style */
.primary-font {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 4rem;
}
/* .primary-text {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
} */
.banner-left {
  max-width: 570px;
}
.banner-right img {
  max-width: 570px;
  height: 100%;
}

/* our plant */

.font-size {
  font-size: 3.1rem;
}
.btn-color {
  background-color: #e95a08;
  color: #ffffff;
}
.plant-lover{
    position: relative;
}
.badge-container {
  position: absolute;
  top: -160px;
  left: 370px;
  z-index: 10;
}
.plant-container {
  position: relative;
}

/* Deal style */
.deal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.deal-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
   flex: 1;
}

.deal-card {
  position: relative;
  overflow: hidden;
}

.deal-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  z-index: 0;
}

.deal-sale {
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.deal-sale h2 {
  font-weight: bold;  
  font-size: 1.2rem;
  text-align: center;
    white-space: nowrap; 
}

.deal-sale a {
color: #fff;
  cursor: pointer;
}
/* join style */
.join-section{
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px; 
  height: 530px;  
}
input[type="email"]{
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  width: 80%;
}
.input-group input {
  width: 70%;            
}

.input-group button {
  width: 30%;            
}

.join-content{
  max-width: 830px;
  height: 140px;
}
/* footer style */
.title{
  color: rgba(0, 0, 0, 0.5);
}
.footer-nav , .footer-nav-2 a{
  color: #6B7280;
}




/* Responsive layout for desktop */
@media (max-width: 768px) {
  .deal-wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 640px) {
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .plant-lover {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .plant-lover-left,
  .plant-lover-right {
    width: 100%;
  }
}
